<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lc.zy.ball.domain.oa.mapper.PayLogMapper" >
  <resultMap id="BaseResultMap" type="com.lc.zy.ball.domain.oa.po.PayLog" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="fee" property="fee" jdbcType="INTEGER" />
    <result column="final_fee" property="finalFee" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, trade_no, order_id, user_id, fee, final_fee, status, pay_type, out_trade_no, 
    create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lc.zy.ball.domain.oa.po.PayLogCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oa_pay_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="mysqlOffset != null and mysqlLength != null" >
      <![CDATA[ limit #{mysqlOffset} , #{mysqlLength} ]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from oa_pay_log
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from oa_pay_log
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.lc.zy.ball.domain.oa.po.PayLogCriteria" >
    delete from oa_pay_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lc.zy.ball.domain.oa.po.PayLog" >
    insert into oa_pay_log (id, trade_no, order_id, user_id, fee, final_fee, status, 
      pay_type, out_trade_no, create_time)
    values (#{id}, #{tradeNo}, #{orderId}, #{userId}, #{fee}, #{finalFee}, #{status}, 
      #{payType}, #{outTradeNo}, #{createTime})
  </insert>
  <insert id="insertSelective" parameterType="com.lc.zy.ball.domain.oa.po.PayLog" >
    insert into oa_pay_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tradeNo != null" >
        trade_no,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="finalFee != null" >
        final_fee,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="tradeNo != null" >
        #{tradeNo},
      </if>
      <if test="orderId != null" >
        #{orderId},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="fee != null" >
        #{fee},
      </if>
      <if test="finalFee != null" >
        #{finalFee},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="payType != null" >
        #{payType},
      </if>
      <if test="outTradeNo != null" >
        #{outTradeNo},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lc.zy.ball.domain.oa.po.PayLogCriteria" resultType="java.lang.Integer" >
    select count(*) from oa_pay_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update oa_pay_log
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.tradeNo != null" >
        trade_no = #{record.tradeNo},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId},
      </if>
      <if test="record.fee != null" >
        fee = #{record.fee},
      </if>
      <if test="record.finalFee != null" >
        final_fee = #{record.finalFee},
      </if>
      <if test="record.status != null" >
        status = #{record.status},
      </if>
      <if test="record.payType != null" >
        pay_type = #{record.payType},
      </if>
      <if test="record.outTradeNo != null" >
        out_trade_no = #{record.outTradeNo},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update oa_pay_log
    set id = #{record.id},
      trade_no = #{record.tradeNo},
      order_id = #{record.orderId},
      user_id = #{record.userId},
      fee = #{record.fee},
      final_fee = #{record.finalFee},
      status = #{record.status},
      pay_type = #{record.payType},
      out_trade_no = #{record.outTradeNo},
      create_time = #{record.createTime}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lc.zy.ball.domain.oa.po.PayLog" >
    update oa_pay_log
    <set >
      <if test="tradeNo != null" >
        trade_no = #{tradeNo},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId},
      </if>
      <if test="userId != null" >
        user_id = #{userId},
      </if>
      <if test="fee != null" >
        fee = #{fee},
      </if>
      <if test="finalFee != null" >
        final_fee = #{finalFee},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="payType != null" >
        pay_type = #{payType},
      </if>
      <if test="outTradeNo != null" >
        out_trade_no = #{outTradeNo},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lc.zy.ball.domain.oa.po.PayLog" >
    update oa_pay_log
    set trade_no = #{tradeNo},
      order_id = #{orderId},
      user_id = #{userId},
      fee = #{fee},
      final_fee = #{finalFee},
      status = #{status},
      pay_type = #{payType},
      out_trade_no = #{outTradeNo},
      create_time = #{createTime}
    where id = #{id}
  </update>
</mapper>