<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lc.zy.ball.domain.oa.mapper.StatiumInfosMapper" >
  <resultMap id="BaseResultMap" type="com.lc.zy.ball.domain.oa.po.StatiumInfos" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="dg_name" property="dgName" jdbcType="VARCHAR" />
    <result column="dg_id" property="dgId" jdbcType="INTEGER" />
    <result column="photos" property="photos" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="lng" property="lng" jdbcType="DOUBLE" />
    <result column="lat" property="lat" jdbcType="DOUBLE" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="areacode" property="areacode" jdbcType="VARCHAR" />
    <result column="salecount" property="salecount" jdbcType="INTEGER" />
    <result column="starttime" property="starttime" jdbcType="VARCHAR" />
    <result column="endtime" property="endtime" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="ct" property="ct" jdbcType="TIMESTAMP" />
    <result column="cb" property="cb" jdbcType="VARCHAR" />
    <result column="et" property="et" jdbcType="TIMESTAMP" />
    <result column="eb" property="eb" jdbcType="VARCHAR" />
    <result column="recommend" property="recommend" jdbcType="INTEGER" />
    <result column="service_tel" property="serviceTel" jdbcType="VARCHAR" />
    <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR" />
    <result column="bank_account_no" property="bankAccountNo" jdbcType="VARCHAR" />
    <result column="bank_account_branch_name" property="bankAccountBranchName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="qr_code" property="qrCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, dg_name, dg_id, photos, remark, lng, lat, address, contact, tel, province, city, 
    area, areacode, salecount, starttime, endtime, logo, ct, cb, et, eb, recommend, service_tel, 
    bank_account_name, bank_account_no, bank_account_branch_name, status, grade, qr_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lc.zy.ball.domain.oa.po.StatiumInfosCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oa_statium_infos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="mysqlOffset != null and mysqlLength != null" >
      <![CDATA[ limit #{mysqlOffset} , #{mysqlLength} ]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from oa_statium_infos
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from oa_statium_infos
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.lc.zy.ball.domain.oa.po.StatiumInfosCriteria" >
    delete from oa_statium_infos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lc.zy.ball.domain.oa.po.StatiumInfos" >
    insert into oa_statium_infos (id, dg_name, dg_id, photos, remark, lng, lat, address, 
      contact, tel, province, city, area, areacode, salecount, starttime, 
      endtime, logo, ct, cb, et, eb, recommend, service_tel, bank_account_name, 
      bank_account_no, bank_account_branch_name, status, grade, qr_code)
    values (#{id}, #{dgName}, #{dgId}, #{photos}, #{remark}, #{lng}, #{lat}, #{address}, 
      #{contact}, #{tel}, #{province}, #{city}, #{area}, #{areacode}, #{salecount}, #{starttime}, 
      #{endtime}, #{logo}, #{ct}, #{cb}, #{et}, #{eb}, #{recommend}, #{serviceTel}, #{bankAccountName}, 
      #{bankAccountNo}, #{bankAccountBranchName}, #{status}, #{grade}, #{qrCode})
  </insert>
  <insert id="insertSelective" parameterType="com.lc.zy.ball.domain.oa.po.StatiumInfos" >
    insert into oa_statium_infos
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dgName != null" >
        dg_name,
      </if>
      <if test="dgId != null" >
        dg_id,
      </if>
      <if test="photos != null" >
        photos,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="lng != null" >
        lng,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="areacode != null" >
        areacode,
      </if>
      <if test="salecount != null" >
        salecount,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="ct != null" >
        ct,
      </if>
      <if test="cb != null" >
        cb,
      </if>
      <if test="et != null" >
        et,
      </if>
      <if test="eb != null" >
        eb,
      </if>
      <if test="recommend != null" >
        recommend,
      </if>
      <if test="serviceTel != null" >
        service_tel,
      </if>
      <if test="bankAccountName != null" >
        bank_account_name,
      </if>
      <if test="bankAccountNo != null" >
        bank_account_no,
      </if>
      <if test="bankAccountBranchName != null" >
        bank_account_branch_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="qrCode != null" >
        qr_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="dgName != null" >
        #{dgName},
      </if>
      <if test="dgId != null" >
        #{dgId},
      </if>
      <if test="photos != null" >
        #{photos},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
      <if test="lng != null" >
        #{lng},
      </if>
      <if test="lat != null" >
        #{lat},
      </if>
      <if test="address != null" >
        #{address},
      </if>
      <if test="contact != null" >
        #{contact},
      </if>
      <if test="tel != null" >
        #{tel},
      </if>
      <if test="province != null" >
        #{province},
      </if>
      <if test="city != null" >
        #{city},
      </if>
      <if test="area != null" >
        #{area},
      </if>
      <if test="areacode != null" >
        #{areacode},
      </if>
      <if test="salecount != null" >
        #{salecount},
      </if>
      <if test="starttime != null" >
        #{starttime},
      </if>
      <if test="endtime != null" >
        #{endtime},
      </if>
      <if test="logo != null" >
        #{logo},
      </if>
      <if test="ct != null" >
        #{ct},
      </if>
      <if test="cb != null" >
        #{cb},
      </if>
      <if test="et != null" >
        #{et},
      </if>
      <if test="eb != null" >
        #{eb},
      </if>
      <if test="recommend != null" >
        #{recommend},
      </if>
      <if test="serviceTel != null" >
        #{serviceTel},
      </if>
      <if test="bankAccountName != null" >
        #{bankAccountName},
      </if>
      <if test="bankAccountNo != null" >
        #{bankAccountNo},
      </if>
      <if test="bankAccountBranchName != null" >
        #{bankAccountBranchName},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="grade != null" >
        #{grade},
      </if>
      <if test="qrCode != null" >
        #{qrCode},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lc.zy.ball.domain.oa.po.StatiumInfosCriteria" resultType="java.lang.Integer" >
    select count(*) from oa_statium_infos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update oa_statium_infos
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.dgName != null" >
        dg_name = #{record.dgName},
      </if>
      <if test="record.dgId != null" >
        dg_id = #{record.dgId},
      </if>
      <if test="record.photos != null" >
        photos = #{record.photos},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark},
      </if>
      <if test="record.lng != null" >
        lng = #{record.lng},
      </if>
      <if test="record.lat != null" >
        lat = #{record.lat},
      </if>
      <if test="record.address != null" >
        address = #{record.address},
      </if>
      <if test="record.contact != null" >
        contact = #{record.contact},
      </if>
      <if test="record.tel != null" >
        tel = #{record.tel},
      </if>
      <if test="record.province != null" >
        province = #{record.province},
      </if>
      <if test="record.city != null" >
        city = #{record.city},
      </if>
      <if test="record.area != null" >
        area = #{record.area},
      </if>
      <if test="record.areacode != null" >
        areacode = #{record.areacode},
      </if>
      <if test="record.salecount != null" >
        salecount = #{record.salecount},
      </if>
      <if test="record.starttime != null" >
        starttime = #{record.starttime},
      </if>
      <if test="record.endtime != null" >
        endtime = #{record.endtime},
      </if>
      <if test="record.logo != null" >
        logo = #{record.logo},
      </if>
      <if test="record.ct != null" >
        ct = #{record.ct},
      </if>
      <if test="record.cb != null" >
        cb = #{record.cb},
      </if>
      <if test="record.et != null" >
        et = #{record.et},
      </if>
      <if test="record.eb != null" >
        eb = #{record.eb},
      </if>
      <if test="record.recommend != null" >
        recommend = #{record.recommend},
      </if>
      <if test="record.serviceTel != null" >
        service_tel = #{record.serviceTel},
      </if>
      <if test="record.bankAccountName != null" >
        bank_account_name = #{record.bankAccountName},
      </if>
      <if test="record.bankAccountNo != null" >
        bank_account_no = #{record.bankAccountNo},
      </if>
      <if test="record.bankAccountBranchName != null" >
        bank_account_branch_name = #{record.bankAccountBranchName},
      </if>
      <if test="record.status != null" >
        status = #{record.status},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade},
      </if>
      <if test="record.qrCode != null" >
        qr_code = #{record.qrCode},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update oa_statium_infos
    set id = #{record.id},
      dg_name = #{record.dgName},
      dg_id = #{record.dgId},
      photos = #{record.photos},
      remark = #{record.remark},
      lng = #{record.lng},
      lat = #{record.lat},
      address = #{record.address},
      contact = #{record.contact},
      tel = #{record.tel},
      province = #{record.province},
      city = #{record.city},
      area = #{record.area},
      areacode = #{record.areacode},
      salecount = #{record.salecount},
      starttime = #{record.starttime},
      endtime = #{record.endtime},
      logo = #{record.logo},
      ct = #{record.ct},
      cb = #{record.cb},
      et = #{record.et},
      eb = #{record.eb},
      recommend = #{record.recommend},
      service_tel = #{record.serviceTel},
      bank_account_name = #{record.bankAccountName},
      bank_account_no = #{record.bankAccountNo},
      bank_account_branch_name = #{record.bankAccountBranchName},
      status = #{record.status},
      grade = #{record.grade},
      qr_code = #{record.qrCode}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lc.zy.ball.domain.oa.po.StatiumInfos" >
    update oa_statium_infos
    <set >
      <if test="dgName != null" >
        dg_name = #{dgName},
      </if>
      <if test="dgId != null" >
        dg_id = #{dgId},
      </if>
      <if test="photos != null" >
        photos = #{photos},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
      <if test="lng != null" >
        lng = #{lng},
      </if>
      <if test="lat != null" >
        lat = #{lat},
      </if>
      <if test="address != null" >
        address = #{address},
      </if>
      <if test="contact != null" >
        contact = #{contact},
      </if>
      <if test="tel != null" >
        tel = #{tel},
      </if>
      <if test="province != null" >
        province = #{province},
      </if>
      <if test="city != null" >
        city = #{city},
      </if>
      <if test="area != null" >
        area = #{area},
      </if>
      <if test="areacode != null" >
        areacode = #{areacode},
      </if>
      <if test="salecount != null" >
        salecount = #{salecount},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime},
      </if>
      <if test="logo != null" >
        logo = #{logo},
      </if>
      <if test="ct != null" >
        ct = #{ct},
      </if>
      <if test="cb != null" >
        cb = #{cb},
      </if>
      <if test="et != null" >
        et = #{et},
      </if>
      <if test="eb != null" >
        eb = #{eb},
      </if>
      <if test="recommend != null" >
        recommend = #{recommend},
      </if>
      <if test="serviceTel != null" >
        service_tel = #{serviceTel},
      </if>
      <if test="bankAccountName != null" >
        bank_account_name = #{bankAccountName},
      </if>
      <if test="bankAccountNo != null" >
        bank_account_no = #{bankAccountNo},
      </if>
      <if test="bankAccountBranchName != null" >
        bank_account_branch_name = #{bankAccountBranchName},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="grade != null" >
        grade = #{grade},
      </if>
      <if test="qrCode != null" >
        qr_code = #{qrCode},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lc.zy.ball.domain.oa.po.StatiumInfos" >
    update oa_statium_infos
    set dg_name = #{dgName},
      dg_id = #{dgId},
      photos = #{photos},
      remark = #{remark},
      lng = #{lng},
      lat = #{lat},
      address = #{address},
      contact = #{contact},
      tel = #{tel},
      province = #{province},
      city = #{city},
      area = #{area},
      areacode = #{areacode},
      salecount = #{salecount},
      starttime = #{starttime},
      endtime = #{endtime},
      logo = #{logo},
      ct = #{ct},
      cb = #{cb},
      et = #{et},
      eb = #{eb},
      recommend = #{recommend},
      service_tel = #{serviceTel},
      bank_account_name = #{bankAccountName},
      bank_account_no = #{bankAccountNo},
      bank_account_branch_name = #{bankAccountBranchName},
      status = #{status},
      grade = #{grade},
      qr_code = #{qrCode}
    where id = #{id}
  </update>
</mapper>