<div class="other_project">
<hr>
<div class="row">
	<div class="form-group form-group-sm">
		<label for="name" class="col-md-3 control-label"><span
			class="text-red">*</span>项目名称:</label>
		<div class="col-md-3 form-inline">
			<input  type="text" class="form-control" name="title" value="" placeholder="项目名称">
			<a class="btn btn-primary btn-sm" onclick="clean_project(this)" href="javascript:;"><span class="glyphicon glyphicon-minus"></span> 删除项目</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group form-group-sm">
		<label for="name" class="col-md-3 control-label"><span
			class="text-red">*</span>项目费用:</label>
		<div class="col-md-3 has-feedback">
			<input  type="text" class="form-control" name="price" value="" placeholder="项目费用">
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group form-group-sm">
		<label for="name" class="col-md-3 control-label"><span
			class="text-red">*</span>项目成本:</label>
		<div class="col-md-3 has-feedback">
			<input  type="text" class="form-control" name="costPrice" value="" placeholder="项目成本">
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group form-group-sm">
		<label for="name" class="col-md-3 control-label"><span
			class="text-red">*</span>项目备注:</label>
		<div class="col-md-7 has-feedback">
			<input  type="text" class="form-control" name="content" value="" placeholder="项目备注">
		</div>
	</div>
</div>
</div>
</div>