.table-bordered>thead>tr>th,.table-bordered>thead>tr>th{
	padding:10px;
	white-space:nowrap;
	text-align:center;
}
.table-bordered>tbody>tr>th,.table-bordered>tbody>tr>td{
	padding:10px;
	white-space:nowrap;
	text-align:left;
}
.col-table{
	overflow: auto;
}


.leftBtn{float:right;}
.showBtn{display:none; position:absolute; left:0; top:-8px; z-index:100; padding-left:5px; font-size:12px; width:42px; height:20px; line-height:20px; background-color:#428BCA; color:#fff; border-top-right-radius:10px;border-bottom-right-radius:10px;}
.showBtn:hover{color:#fff; text-decoration:none;}




